<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TUNGSTEN Exchange</title>
    <link rel="stylesheet" href="css/buyCrypto.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Noto+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <img class="navlogo" src="img2/TUNGSTEN 11.png" alt="" />
        <div class="nav-menu">
          <a href="/dashboard">
            <img class="navmenuic" src="img2/dashboardicon.png" alt="" />
            DASHBOARD</a
          >
          <a href="/marketplace">
            <img class="navmenuic" src="img2/nfticonpng.png" alt="" />NFT
            MARKET</a
          >
          <div class="dropdown">
            <button class="fdbtn">
              <img class="navmenuic" src="img2/fundingicon.png" alt="" />FUNDING
            </button>
            <div class="sub-menu-1">
              <ul>
                <li style="margin: 0px 0"><a href="">Deposit</a></li>
                <li style="margin: 15px 0">
                  <a href="/withhdrawal">Withdrawal</a>
                </li>
                <li style="margin: 15px 0">
                  <a href="/transfer">Transfer</a>
                </li>
              </ul>
            </div>
          </div>
          <a href="" class="is-active"
            ><img class="navmenuic" src="img2/buycryptoicon.png" alt="" />BUY
            CRYPTO</a
          >
          <div class="dropdown">
            <button id="nvic" style="padding: 8px 5px" href="">
              <img class="reward-icon" src="img2/reward icon.png" alt="" />
            </button>
            <div class="sub-menu-2"></div>
          </div>

          <div class="dropdown">
            <button id="nvic" style="padding: 8px 5px" href="">
              <img class="bell-icon" src="img2/bell icon.png" alt="" />
            </button>
            <div class="sub-menu-3"></div>
          </div>

          <div class="dropdown">
            <button
              id="nvic"
              style="
                margin-right: 10px;
                padding: 8px 20px;
                border-style: solid;
                border-radius: 30px;
                border-color: gray;
              "
              href=""
            >
              <img class="user-icon" src="img2/user icon.png" alt="" />
            </button>
            <div class="sub-menu-4">
              <div class="menu-4d1">
                <a href="#google_translate_element">Language</a>
                <img class="transicon" src="img2/translation.png" alt="" />
              </div>
              <div class="menu-4d2">
                <a href="/logout">Logout</a>
                <img class="logouticon" src="img2/switch.png" alt="" />
              </div>
              <div class="menu-4d3">
                <p style="color: white">CONTACT US</p>
              </div>
              <div class="menu-4d4">
                <a id="sica" href=""
                  ><img class="sic" src="img2/instagram.png" alt=""
                /></a>
                <a id="sica" href=""
                  ><img class="sic" src="img2/twitter.png" alt=""
                /></a>
                <a id="sica" href=""
                  ><img class="sic" src="img2/telegram.png" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <div class="wallet">
      <div class="btc">
        <p class="p1">Bitcoin</p>
        <p class="p1"><%=btcWallet%></p>
      </div>
      <div class="eth">
        <p class="p2">Ethereum</p>
        <p class="p2"><%=ethWallet%></p>
      </div>
      <div class="bnb">
        <p class="p1">Binance Bep20</p>
        <p class="p1"><%=bnbWallet%></p>
      </div>
      <div class="ltc">
        <p class="p2">Litecoin</p>
        <p class="p2"><%=ltcWallet%></p>
      </div>
      <div class="doge">
        <p class="p1">Dogecoin</p>
        <p class="p1"><%=dogeWallet%></p>
      </div>
    </div>
    <div class="divh11">
      <h1 class="h11">BUY <span class="span1">CRYPTO</span> WITH FIAT</h1>
    </div>

    <div class="portal">
      <iframe
        width="500px"
        height="400px"
        frameborder="none"
        src="https://widget.changelly.com?from=usd&to=btc%2Cbnbbsc%2Cbnb%2Ceth%2Cdoge%2Cltc&amount=100&address=&fromDefault=usd&toDefault=btc&merchant_id=ISQHTB0wcbsg0fXd&payment_id=&v=3&type=no-rev-share&color=5f41ff&headerId=1&logo=visible&buyButtonTextId=1"
        >Can't load widget</iframe
      >
    </div>
    <script src="js/buyCrypto.js"></script>
    <div id="google_translate_element"></div>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <footer>
      <p style="color: white">Tungsten Exchange &copy; 2020</p>
    </footer>
  </body>
</html>
